In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob
import os
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [8]:
path= r"E:\Xov\Adobe and other stuff\Coding\Python\Arkavidia\comodity-price-prediction-penyisihan-arkavidia-9\Harga Bahan Pangan\train"

allTrainData = glob.glob(os.path.join(path, "*.csv"))

dfFull =[]

for file in allTrainData:
    commodity = os.path.basename(file).replace(".csv","")

    dftemp = pd.read_csv(file , index_col = 0)
    dftemp.fillna(dftemp.select_dtypes("number").mean(), inplace= True)

    dftemp = dftemp.melt(ignore_index=False, var_name= "Provinsi", value_name= "Price")
    dftemp.reset_index(inplace=True)

    dftemp["Commodity"] = commodity

    dfFull.append(dftemp)

dfFull = pd.concat(dfFull, ignore_index=True)

dfFull.sort_values(by=['Date', 'Provinsi'], inplace= True)
dfFull.reset_index(drop=True, inplace=True)

In [9]:
dfFull.info()

dfFull

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443768 entries, 0 to 443767
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       443768 non-null  object
 1   Provinsi   443768 non-null  object
 2   Price      443768 non-null  float64
 3   Commodity  443768 non-null  object
dtypes: float64(1), object(3)
memory usage: 13.5+ MB

              Date        Provinsi    Price                        Commodity
0       2022-01-01            Aceh  28970.0                     Bawang Merah
1       2022-01-01            Aceh  27440.0             Bawang Putih Bonggol
2       2022-01-01            Aceh  11030.0                     Beras Medium
3       2022-01-01            Aceh  12080.0                    Beras Premium
4       2022-01-01            Aceh  22360.0             Cabai Merah Keriting
...            ...             ...      ...                              ...
443763  2024-09-30  Sumatera Utara  17920.0                    Gula Konsumsi
443764  2024-09-30  Sumatera Utara  16280.0              Minyak Goreng Curah
443765  2024-09-30  Sumatera Utara  18100.0  Minyak Goreng Kemasan Sederhana
443766  2024-09-30  Sumatera Utara  27640.0                   Telur Ayam Ras
443767  2024-09-30  Sumatera Utara  10640.0            Tepung Terigu (Curah)

[443768 rows x 4 columns]